.container {
  padding: 25px 23px;
}

.nav {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
  gap: 60px;
}

.textsContainer {
  text-align: center;
}

.informativeText {
  font-size: 16px;
  margin: 60px 0 0;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 28px 80px;
    gap: 70px;
  }

  .nav {
    justify-content: flex-end;
  }

  .content {
    margin: auto;
    gap: 110px;
  }

  .textsContainer {
    max-width: 428px;
  }

  .informativeText {
    margin: 34px auto;
  }
}
