.container {
 
}
.nav {
  display: none;

  .listlink {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .listlink a {
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
  }


  .action button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    position: fixed;
    z-index: 1;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 4rem;
  }

  .content {
    margin: auto;
    gap: 110px;
  }

  .textsContainer {
    max-width: 428px;
  }

  .informativeText {
    margin: 34px auto;
  }
}
