.root {
  box-shadow: 0em 0.1em 0.3em 0em rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  justify-content: space-around;
  width: max-content;
  height: 100vh;
  padding: 2rem;
}

.root,
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
  gap: 1rem;
}

.container a {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .root,
  .container {
    display: none;
  }
}
