.players {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 4rem;
  gap: 2.5rem;
}

.headers {
  display: flex;
  font-weight: 700;
  font-size: 1.5rem;
}

.playersContainer {
  display: flex;
  gap: 1rem;
  flex-flow: column wrap;
  position: relative;
}

.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.check {
  color: #0b7e01;
  position: absolute;
  left: -2rem;
}
.manager {
  color: #0b7e01;
  position: absolute;
  left: -4rem;
}

@media screen and (min-width: 768px) {
  .table {
    margin: 0 8rem;
  }
}
