.table {
  display: flex;
  flex-direction: column;
  margin: 0 4rem;
  gap: 2.5rem;
}

.tableHeader {
  display: flex;
  font-weight: 700;
  font-size: 1.5rem;
}

.tableBody {
  display: flex;
  margin-bottom: 0.9rem;
  font-size: 1.25rem;
}

th,
td {
  flex-basis: 50%;
}

.playerColumn {
  text-align: left;
  position: relative;
}

.pointsColumn {
  text-align: right;
}

.check {
  color: #0b7e01;
  position: absolute;
  left: -2rem;
}

@media screen and (min-width: 768px) {
  .table {
    margin: 0 8rem;
  }
}
