.container,
.content {
  display: flex;
  flex-flow: column;
  gap: 2.5rem;
  padding: 0 1.6rem 3.7rem;
}

.content {
  padding: 0;
}

.sessionId {
  font-size: 0.9rem;
  text-align: end;
}

.span {
  color: var(--primary-color);
  text-decoration: underline;
}

.header {
  font-weight: 500;
}

.timeText,
.userName {
  font-size: 1.5rem;
}

.time {
  font-size: 3rem;
  margin-bottom: 0.9rem;
}

.input {
  font-family: 'DM Sans', sans-serif;
  background-color: transparent;
  border: 0.063rem solid black;
  border-radius: 2.5rem;
  font-size: 1.25rem;
  padding: 0 0.9rem;
  max-width: 19rem;
  height: 3rem;
}

.input::placeholder {
  color: black;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.buttonsContainer button:last-child {
  margin-top: 1.25rem;
}

.tableInDesktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 2rem 6.25rem 5rem;
  }

  .content {
    flex-basis: 50%;
  }

  .tableInDesktop {
    display: block;
    flex-basis: 50%;
  }

  .tableInMobile {
    display: none;
  }

  .desktopView {
    display: flex;
  }

  .buttonsContainer {
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
    gap: 8rem;
  }

  .buttonsContainer button:last-child {
    margin: 0;
    margin-left: 20rem;
  }
}
