.toast {
  visibility: hidden;
  max-width: 500px;
  width: auto;
  height: 50px;
  margin: auto;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 30px;
  font-size: 17px;
  white-space: nowrap;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.success {
  background-color: #319c3a;
}

.error {
  background-color: #c32f2f;
}

.warning {
  background-color: #f5a623;
}


.toast p {
  color: #fff;
  padding: 16px;
  overflow: hidden;
  white-space: nowrap;
}

.toast {
  visibility: visible;
  -webkit-animation:
    fadein 0.5s,
    fadeout 0.5s 2.5s;
  animation:
    fadein 0.5s,
    fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 60px;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 60px;
    opacity: 0;
  }
}
